body {
  background-color: rgb(240, 217, 187);
}

.container {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  width: 80%;
  margin-top: 3rem;
  padding: 1rem;

  outline: 1px solid white;
  background-color: antiquewhite;
}

.controls > div {
  width: 100%;

  padding: 1rem;
  margin-bottom: 1rem;

  outline: 1px solid black;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.control > div {
  margin-top: 10px;
  margin-left: 20px;
}

.control > div > label {
  margin-right: 10px;
}

.control > div > input[type="range"] {
  padding: 5px;
}

.export > button {
  padding: 5px;
  cursor: pointer;
}

.info {
  margin: 1rem;
  min-height: 36px;
  text-align: center;
}

.canvases {
  position: relative;
  width: 100vw;
}

.canvases canvas {
  position: absolute;
  left: 50%;
  image-rendering: pixelated;
  /*scale assets, push image down to compensate
  */
  transform: scale(3) translateX(-50%);
  transform-origin: top left;
  outline: 1px solid white;
}
