.container {
  min-height: 100vh;
  width: 80vw;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(182, 122, 44);
}

fieldset {
  padding: 1rem;
  margin-bottom: 1rem;
}

.controls {
  width: 80%;

  margin-top: 3rem;
  padding: 1rem;

  outline: 1px solid white;
  background-color: antiquewhite;
}

.map-container {
  position: relative;

  background-color: rgb(192, 17, 55);
  outline: 1px solid white;
}
.canvases {
  position: relative;
}

.canvases canvas {
  image-rendering: pixelated;
  /*scale assets, push image down to compensate*/
  transform: scale(3) translateY(50%);
}

.tilemap-canvas {
  position: absolute;
}

.collision-canvas {
  position: absolute;
}
