body {
  background-color: #333;
  overflow: hidden;
}

.game-container {
  position: relative;
  margin: 20px auto 0 auto;
  outline: 1px solid white;
  width: 352px;
  height: 208px;

  /*scale assets, push image down to compensate*/
  transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}
